@charset "UTF-8";

/* Quicksand 폰트 임포트 */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
/* 스포카 한 산스 폰트 임포트 */
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid darkblue; */
}

body {
  min-width: 1280px;
}

header {
  height: 70px;
  display: flex;
  justify-content: center;
  background: #232628;
}

header img {
  width: 6.72375rem;
  height: 2.12331rem;
}

.innerHeader {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.innerHeader .left {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 35px;
}

.innerHeader ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style-type: none;
}

/* 호버시 덜컹거림 문제를 위해 사이즈 지정해놓음 */

/* 왼쪽 메뉴 */
.innerHeader .left ul .list01 {
  width: 3.5rem;
  height: 20px;
  text-align: center;
}

.innerHeader .left ul .list02 {
  width: 3.7813rem;
  height: 20px;
  text-align: center;
}

.innerHeader .left ul .list03 {
  width: 4.8519rem;
  height: 20px;
  text-align: center;
}

.innerHeader .left ul .list04 {
  width: 4.6031rem;
  height: 20px;
  text-align: center;
}

/* 헤더 메뉴버튼 호버 기능 */
.innerHeader .left ul .list01:hover a {
  display: none;
}

.innerHeader .left ul .list01:hover::before {
  content: "회사소개";
  color: white;
  font-family: Quicksand;
  font-weight: 100;
}

.innerHeader .left ul .list02:hover a {
  display: none;
}

.innerHeader .left ul .list02:hover::before {
  content: "지점안내";
  color: white;
  font-family: Quicksand;
  font-weight: 100;
}

.innerHeader .left ul .list03:hover a {
  display: none;
}

.innerHeader .left ul .list03:hover::before {
  content: "프로그램";
  color: white;
  font-family: Quicksand;
  font-weight: 100;
}

.innerHeader .left ul .list04:hover a {
  display: none;
}

.innerHeader .left ul .list04:hover::before {
  content: "문의사항";
  color: white;
  font-family: Quicksand;
  font-weight: 100;
}

.innerHeader .right ul .list01:hover a,
.innerHeader .right ul .list02:hover a {
  color: #fff;
}

.innerHeader .left li a,
.innerHeader .right li a {
  font-family: Quicksand;
  color: rgba(165, 137, 88, 0.85);
  font-weight: 100;
  text-decoration: none;
}

.innerHeader .right {
  display: flex;
  list-style-type: none;
}

.innerHeader .right li a {
  font-size: 13px;
}

.one {
  width: 100%;
  height: 702px;
  background-image: url(/portfolio/personal_project/jyfitness/image/sec01bgColor.png),
    url(/portfolio/personal_project/jyfitness/image/jySec01Mainimg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.one .inner {
  width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one .inner .inner1280 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.one .inner .inner1280 img {
  width: 125px;
  height: 125px;
}

.one .inner .inner1280 .txtBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 100px;
}

.one .inner .inner1280 .txtBox h2 {
  font-family: "Spoqa Han Sans Neo";
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  line-height: 33px;
  letter-spacing: -1px;
  text-align: center;
}

.one .inner .inner1280 .txtBox p {
  color: rgb(201, 201, 201);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 3px;
}

.one .inner .btGroup {
  display: flex;
  gap: 200px;
}

.one .inner .btGroup a {
  color: #fff;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(165, 137, 88, 0.4);
  padding: 10px 40px 11px 41px;
  text-decoration: none;
  transition: 0.4s;
}

.one .inner .btGroup a:hover {
  background-color: #a58958;
}

.two {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
}

.two .inner {
  width: 1280px;
  height: 100%;
  padding: 30px 0 0 0;
  display: flex;
  gap: 20px;
}

.two .inner .left a {
  width: 310px;
  height: 476px;
  background-image: url(/portfolio/personal_project/jyfitness/image/sec02img01.png);

  display: flex;
  align-items: end;
  color: #fff;
  padding: 0 0 10px 10px;
  font-size: 10px;
}

.two .inner .left a {
  text-decoration: none;
  color: #fff;
  transition: background-color 0.4s;
}

.two .inner .left a:hover {
  background: url(/portfolio/personal_project/jyfitness/image/sec02img01.png)
    repeat no-repeat;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: screen;
}

.two .inner .right {
  height: 361px;
  width: 950px;
}

.two .inner .right .content {
  display: flex;
  justify-content: space-between;
}

.two .inner .right .content a {
  width: 416px;
  height: 313px;
  background-image: url(/portfolio/personal_project/jyfitness/image/sec02img02.png);

  display: flex;
  align-items: end;
  justify-content: start;
  color: #fff;
  padding: 0 0 10px 10px;
  font-size: 10px;
  transition: 0.4s;
}

.two .inner .right .content a:hover {
  background: url(/portfolio/personal_project/jyfitness/image/sec02img02.png)
    repeat no-repeat;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: screen;
}

.two .inner .right .txtBox {
  display: flex;
  flex-direction: column;

  gap: 20px;
  text-align: right;
}

.two .inner .right .txtBox h2 {
  font-size: 26px;
  color: rgba(35, 38, 40, 0.9);
  line-height: 31px;
  letter-spacing: 6px;
  font-weight: 300;
}

.two .inner .right .txtBox p {
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  color: #7c7c7c;
}

.two .inner .right a {
  display: flex;
  justify-content: flex-end;
  width: 950px;
  height: 38px;
  align-items: center;
  text-decoration: none;
}

.two .inner .right a span:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  transition: 0.4s ease-out;
}

.two .inner .right a span {
  padding: 10px 26px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: #232628;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
}

.three {
  display: flex;
  justify-content: center;

  height: 700px;
  background: #efeeec;
}

.three .inner {
  width: 1280px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.three .innerTop {
  height: 130px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.three .innerTop h2 {
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 5px;
  font-weight: 300;
  color: rgba(35, 38, 40, 0.9);
}

.three .innerTop p {
  font-size: 13px;
  line-height: 22px;
  color: #7c7c7c;
}

.three .innerBottom {
  width: 1271px;
  height: 471px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.three .innerBottom a {
  width: 416px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 27px;
  line-height: 1.2;
  font-weight: 100;
}

.three .innerBottom a:nth-child(1) {
  background-image: url(/portfolio/personal_project/jyfitness/image/sec03img01.png);
  transition: 0.4s;
}

.three .innerBottom a:nth-child(2) {
  background-image: url(/portfolio/personal_project/jyfitness/image/sec03img02.png);
  transition: 0.4s;
}

.three .innerBottom a:nth-child(3) {
  background-image: url(/portfolio/personal_project/jyfitness/image/sec03img03.png);
  transition: 0.4s;
}

/* 섹션3번 첫 번째 이미지 호버 */
.three .innerBottom a:nth-child(1):hover {
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: screen;
  color: #000;
}

.test02 {
  display: flex;
  justify-content: center;
  display: none;
}

.three .innerBottom a:nth-child(1):hover .test02 {
  display: block;
  font-weight: 300;
}

.three .innerBottom a:nth-child(1):hover .test01 {
  display: none;
}

/* 섹션3번 두 번째 이미지 호버 */
.three .innerBottom a:nth-child(2):hover {
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: screen;
  color: #000;
}

.test04 {
  display: flex;
  justify-content: center;
  display: none;
}

.three .innerBottom a:nth-child(2):hover .test04 {
  display: block;
  font-weight: 300;
}

.three .innerBottom a:nth-child(2):hover .test03 {
  display: none;
}
/* 섹션3번 세 번째 이미지 호버 */
.three .innerBottom a:nth-child(3):hover {
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: screen;
  color: #000;
}

.test06 {
  display: flex;
  justify-content: center;
  display: none;
}

.three .innerBottom a:nth-child(3):hover .test06 {
  display: block;
  font-weight: 300;
}

.three .innerBottom a:nth-child(3):hover .test05 {
  display: none;
}

.four {
  height: 700px;
  display: flex;
  justify-content: center;
}

.four .inner {
  width: 1280px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.four .inner .innerTop {
  width: 1280px;
  height: 130px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.four .inner .innerTop h2 {
  color: rgba(35, 38, 40, 0.9);
  font-size: 26px;
  line-height: 31px; /* 120% */
  letter-spacing: 5px;
  font-weight: 300;
}

.four .inner .innerTop p {
  color: #7c7c7c;
  text-align: center;
  font-size: 13px;
  line-height: 22px; /* 170% */
}

.four .inner .innerBottom {
  width: 1271px;
  height: 470px;
  display: flex;
  justify-content: center;
  gap: 122px;
}

.four .inner .innerBottom > div {
  width: 271px;
  height: 331px;
}

.four .inner .innerBottom > div img {
  width: 128px;
  height: 128px;
  cursor: pointer;
  transition: 0.4s;
}

.four .inner .innerBottom > div img:hover {
  filter: brightness(80%);
}

.art01,
.art02,
.art03,
.art04 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.art01 .txtBox01 {
  padding-bottom: 22px;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgba(35, 38, 40, 0.9);
  line-height: 23.8px;
  letter-spacing: -1px;
}

.art01 .txtBox02 {
  text-align: initial;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgba(35, 38, 40, 0.9);
  font-size: 16px;
  line-height: 23px;
}

.art02 .txtBox01,
.art03 .txtBox01,
.art04 .txtBox01 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgba(35, 38, 40, 0.9);
  line-height: 24px;
  letter-spacing: -1px;
}

.art02 .txtBox02 a {
  color: rgba(35, 38, 40, 0.9);
  line-height: 24px;
  letter-spacing: -1px;
}

.art02 .txtBox02 .txtBox02Sub {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.art02 .txtBox02 .txtBox02Sub a img {
  width: 60px;
  height: 28px;
}

.art02 .txtBox02 .txtBox02Sub a:nth-child(2) {
  color: #6a6c6c;
}

.art03 .txtBox02 a {
  width: 178px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
  color: #6a6c6c;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 13px;
  line-height: 18px;
}

.art04 .txtBox02 .txtBox02Sub {
  display: flex;
  gap: 5px;
}

.art04 .txtBox02 .txtBox02Sub a img {
  width: 60px;
  height: 28px;
}

.art04 .txtBox02 p {
  padding-top: 2px;
  color: rgba(35, 38, 40, 0.9);
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 1px;
}

footer {
  background-color: #000;
  height: 790px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer .inner {
  width: 1280px;
  height: 196px;
  display: flex;
  flex-direction: column;
}

footer .inner .innerTop {
  display: flex;
  justify-content: space-between;
}

footer .inner .innerTop .txtBox01 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

footer .inner .innerTop .txtBox01 h3 {
  color: #a58958;
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
}

footer .inner .innerTop .txtBox01 p {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}

footer .inner .innerTop .menu ul li a {
  color: #a58958;
  line-height: 23px;
  letter-spacing: 1px;
  font-weight: 100;
}

footer .list01 {
  width: 3.5rem;
  height: 23px;
  text-align: center;
}

footer .list02 {
  width: 3.74rem;
  height: 23px;
  text-align: center;
}

footer .list03 {
  width: 4.6837rem;
  height: 23px;
  text-align: center;
}

footer .list04 {
  width: 4.485rem;
  height: 23px;
  text-align: center;
}

footer .list01:hover a {
  display: none;
}

footer .list01:hover::before {
  content: "회사소개";
  color: white;
  font-family: Quicksand;
  font-weight: 100;
}

footer .list02:hover a {
  display: none;
}

footer .list02:hover::before {
  content: "지점안내";
  color: white;
  font-family: Quicksand;
  font-weight: 100;
}

footer .list03:hover a {
  display: none;
}

footer .list03:hover::before {
  content: "프로그램";
  color: white;
  font-family: Quicksand;
  font-weight: 100;
}

footer .list04:hover a {
  display: none;
}

footer .list04:hover::before {
  content: "문의사항";
  color: white;
  font-family: Quicksand;
  font-weight: 100;
}

footer .inner .innerTop .menu ul {
  display: flex;
  list-style: none;
  gap: 50px;
}

footer .inner .innerTop .menu ul li a {
  text-decoration: none;
}

footer .inner .innerBottom .txtBox02 p {
  color: #fff;
  font-size: 13px;
  line-height: 22px;
}
